@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --www-utilitac-com-barlow-bold-upper-font-family: "Barlow", Helvetica;
  --www-utilitac-com-barlow-bold-upper-font-size: 12px;
  --www-utilitac-com-barlow-bold-upper-font-style: normal;
  --www-utilitac-com-barlow-bold-upper-font-weight: 700;
  --www-utilitac-com-barlow-bold-upper-letter-spacing: 0px;
  --www-utilitac-com-barlow-bold-upper-line-height: 12px;
  --www-utilitac-com-barlow-medium-font-family: "Barlow", Helvetica;
  --www-utilitac-com-barlow-medium-font-size: 14px;
  --www-utilitac-com-barlow-medium-font-style: normal;
  --www-utilitac-com-barlow-medium-font-weight: 500;
  --www-utilitac-com-barlow-medium-letter-spacing: 0px;
  --www-utilitac-com-barlow-medium-line-height: 14px;
  --www-utilitac-com-barlow-regular-font-family: "Barlow", Helvetica;
  --www-utilitac-com-barlow-regular-font-size: 15px;
  --www-utilitac-com-barlow-regular-font-style: normal;
  --www-utilitac-com-barlow-regular-font-weight: 400;
  --www-utilitac-com-barlow-regular-letter-spacing: 0px;
  --www-utilitac-com-barlow-regular-line-height: 22.5px;
  --www-utilitac-com-barlow-semibold-font-family: "Barlow", Helvetica;
  --www-utilitac-com-barlow-semibold-font-size: 69px;
  --www-utilitac-com-barlow-semibold-font-style: normal;
  --www-utilitac-com-barlow-semibold-font-weight: 600;
  --www-utilitac-com-barlow-semibold-letter-spacing: 0px;
  --www-utilitac-com-barlow-semibold-line-height: 69px;
  --www-utilitac-com-bebas-neue-regular-font-family: "Bebas Neue", Helvetica;
  --www-utilitac-com-bebas-neue-regular-font-size: 18px;
  --www-utilitac-com-bebas-neue-regular-font-style: normal;
  --www-utilitac-com-bebas-neue-regular-font-weight: 400;
  --www-utilitac-com-bebas-neue-regular-letter-spacing: 5.300000190734863px;
  --www-utilitac-com-bebas-neue-regular-line-height: 20px;
  --www-utilitac-com-font-awesome-5-brands-regular-font-family: "Font Awesome 5 Brands",
    Helvetica;
  --www-utilitac-com-font-awesome-5-brands-regular-font-size: 24px;
  --www-utilitac-com-font-awesome-5-brands-regular-font-style: normal;
  --www-utilitac-com-font-awesome-5-brands-regular-font-weight: 400;
  --www-utilitac-com-font-awesome-5-brands-regular-letter-spacing: 0px;
  --www-utilitac-com-font-awesome-5-brands-regular-line-height: 24px;
  --www-utilitac-com-font-awesome-5-free-solid-font-family: "Font Awesome 5 Free",
    Helvetica;
  --www-utilitac-com-font-awesome-5-free-solid-font-size: 50px;
  --www-utilitac-com-font-awesome-5-free-solid-font-style: normal;
  --www-utilitac-com-font-awesome-5-free-solid-font-weight: 400;
  --www-utilitac-com-font-awesome-5-free-solid-letter-spacing: 0px;
  --www-utilitac-com-font-awesome-5-free-solid-line-height: 50px;
  --www-utilitac-com-font-awesome-5-free-solid-title-font-family: "Font Awesome 5 Free",
    Helvetica;
  --www-utilitac-com-font-awesome-5-free-solid-title-font-size: 15px;
  --www-utilitac-com-font-awesome-5-free-solid-title-font-style: normal;
  --www-utilitac-com-font-awesome-5-free-solid-title-font-weight: 400;
  --www-utilitac-com-font-awesome-5-free-solid-title-letter-spacing: 0px;
  --www-utilitac-com-font-awesome-5-free-solid-title-line-height: 15px;
  --www-utilitac-com-inter-light-font-family: "Inter", Helvetica;
  --www-utilitac-com-inter-light-font-size: 16px;
  --www-utilitac-com-inter-light-font-style: normal;
  --www-utilitac-com-inter-light-font-weight: 300;
  --www-utilitac-com-inter-light-letter-spacing: 0px;
  --www-utilitac-com-inter-light-line-height: 24px;
  --www-utilitac-com-montserrat-extralight-font-family: "Montserrat", Helvetica;
  --www-utilitac-com-montserrat-extralight-font-size: 16px;
  --www-utilitac-com-montserrat-extralight-font-style: normal;
  --www-utilitac-com-montserrat-extralight-font-weight: 200;
  --www-utilitac-com-montserrat-extralight-letter-spacing: 0px;
  --www-utilitac-com-montserrat-extralight-line-height: 22.399999618530273px;
  --www-utilitac-com-montserrat-light-font-family: "Montserrat", Helvetica;
  --www-utilitac-com-montserrat-light-font-size: 16px;
  --www-utilitac-com-montserrat-light-font-style: normal;
  --www-utilitac-com-montserrat-light-font-weight: 300;
  --www-utilitac-com-montserrat-light-letter-spacing: 0px;
  --www-utilitac-com-montserrat-light-line-height: 22.399999618530273px;
  --www-utilitac-com-montserrat-medium-font-family: "Montserrat", Helvetica;
  --www-utilitac-com-montserrat-medium-font-size: 15px;
  --www-utilitac-com-montserrat-medium-font-style: normal;
  --www-utilitac-com-montserrat-medium-font-weight: 500;
  --www-utilitac-com-montserrat-medium-letter-spacing: 0px;
  --www-utilitac-com-montserrat-medium-line-height: 15px;
  --www-utilitac-com-montserrat-medium-title-font-family: "Montserrat",
    Helvetica;
  --www-utilitac-com-montserrat-medium-title-font-size: 15px;
  --www-utilitac-com-montserrat-medium-title-font-style: normal;
  --www-utilitac-com-montserrat-medium-title-font-weight: 500;
  --www-utilitac-com-montserrat-medium-title-letter-spacing: 0px;
  --www-utilitac-com-montserrat-medium-title-line-height: 15px;
  --www-utilitac-com-nunito-sans-regular-font-family: "Nunito Sans", Helvetica;
  --www-utilitac-com-nunito-sans-regular-font-size: 19px;
  --www-utilitac-com-nunito-sans-regular-font-style: normal;
  --www-utilitac-com-nunito-sans-regular-font-weight: 400;
  --www-utilitac-com-nunito-sans-regular-letter-spacing: 0px;
  --www-utilitac-com-nunito-sans-regular-line-height: 47.5px;
  --www-utilitac-com-nunito-sans-semibold-upper-font-family: "Nunito Sans",
    Helvetica;
  --www-utilitac-com-nunito-sans-semibold-upper-font-size: 14px;
  --www-utilitac-com-nunito-sans-semibold-upper-font-style: normal;
  --www-utilitac-com-nunito-sans-semibold-upper-font-weight: 600;
  --www-utilitac-com-nunito-sans-semibold-upper-letter-spacing: 0px;
  --www-utilitac-com-nunito-sans-semibold-upper-line-height: 14px;
  --www-utilitac-com-roboto-medium-font-family: "Roboto", Helvetica;
  --www-utilitac-com-roboto-medium-font-size: 22px;
  --www-utilitac-com-roboto-medium-font-style: normal;
  --www-utilitac-com-roboto-medium-font-weight: 500;
  --www-utilitac-com-roboto-medium-letter-spacing: 0px;
  --www-utilitac-com-roboto-medium-line-height: 24.200000762939453px;
  --www-utilitac-com-roboto-regular-font-family: "Roboto", Helvetica;
  --www-utilitac-com-roboto-regular-font-size: 18px;
  --www-utilitac-com-roboto-regular-font-style: normal;
  --www-utilitac-com-roboto-regular-font-weight: 400;
  --www-utilitac-com-roboto-regular-letter-spacing: 0px;
  --www-utilitac-com-roboto-regular-line-height: 24.200000762939453px;
  --www-utilitac-com-semantic-heading-1-font-family: "Barlow", Helvetica;
  --www-utilitac-com-semantic-heading-1-font-size: 65px;
  --www-utilitac-com-semantic-heading-1-font-style: normal;
  --www-utilitac-com-semantic-heading-1-font-weight: 900;
  --www-utilitac-com-semantic-heading-1-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-1-line-height: 65px;
  --www-utilitac-com-semantic-heading-2-font-family: "Barlow", Helvetica;
  --www-utilitac-com-semantic-heading-2-font-size: 20px;
  --www-utilitac-com-semantic-heading-2-font-style: normal;
  --www-utilitac-com-semantic-heading-2-font-weight: 500;
  --www-utilitac-com-semantic-heading-2-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-2-line-height: 20px;
  --www-utilitac-com-semantic-heading-2-title-font-family: "Varela Round",
    Helvetica;
  --www-utilitac-com-semantic-heading-2-title-font-size: 45px;
  --www-utilitac-com-semantic-heading-2-title-font-style: normal;
  --www-utilitac-com-semantic-heading-2-title-font-weight: 400;
  --www-utilitac-com-semantic-heading-2-title-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-2-title-line-height: 54px;
  --www-utilitac-com-semantic-heading-3-font-family: "Barlow", Helvetica;
  --www-utilitac-com-semantic-heading-3-font-size: 45px;
  --www-utilitac-com-semantic-heading-3-font-style: normal;
  --www-utilitac-com-semantic-heading-3-font-weight: 600;
  --www-utilitac-com-semantic-heading-3-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-3-line-height: 45px;
  --www-utilitac-com-semantic-heading-3-title-font-family: "Varela Round",
    Helvetica;
  --www-utilitac-com-semantic-heading-3-title-font-size: 20px;
  --www-utilitac-com-semantic-heading-3-title-font-style: normal;
  --www-utilitac-com-semantic-heading-3-title-font-weight: 400;
  --www-utilitac-com-semantic-heading-3-title-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-3-title-line-height: 24px;
  --www-utilitac-com-semantic-heading-4-font-family: "Barlow", Helvetica;
  --www-utilitac-com-semantic-heading-4-font-size: 65px;
  --www-utilitac-com-semantic-heading-4-font-style: normal;
  --www-utilitac-com-semantic-heading-4-font-weight: 900;
  --www-utilitac-com-semantic-heading-4-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-4-line-height: 78px;
  --www-utilitac-com-semantic-heading-4-title-font-family: "Varela Round",
    Helvetica;
  --www-utilitac-com-semantic-heading-4-title-font-size: 45px;
  --www-utilitac-com-semantic-heading-4-title-font-style: normal;
  --www-utilitac-com-semantic-heading-4-title-font-weight: 400;
  --www-utilitac-com-semantic-heading-4-title-letter-spacing: 0px;
  --www-utilitac-com-semantic-heading-4-title-line-height: 54px;
  --www-utilitac-com-semantic-item-font-family: "Montserrat", Helvetica;
  --www-utilitac-com-semantic-item-font-size: 16px;
  --www-utilitac-com-semantic-item-font-style: normal;
  --www-utilitac-com-semantic-item-font-weight: 200;
  --www-utilitac-com-semantic-item-letter-spacing: 0px;
  --www-utilitac-com-semantic-item-line-height: 22.399999618530273px;
  --www-utilitac-com-semantic-link-font-family: "Font Awesome 5 Free", Helvetica;
  --www-utilitac-com-semantic-link-font-size: 14px;
  --www-utilitac-com-semantic-link-font-style: normal;
  --www-utilitac-com-semantic-link-font-weight: 400;
  --www-utilitac-com-semantic-link-letter-spacing: 0px;
  --www-utilitac-com-semantic-link-line-height: 14px;
  --www-utilitac-com-semantic-link-title-font-family: "Montserrat", Helvetica;
  --www-utilitac-com-semantic-link-title-font-size: 16px;
  --www-utilitac-com-semantic-link-title-font-style: normal;
  --www-utilitac-com-semantic-link-title-font-weight: 300;
  --www-utilitac-com-semantic-link-title-letter-spacing: 0px;
  --www-utilitac-com-semantic-link-title-line-height: 16px;
  --www-utilitac-com-semantic-link-underline-font-family: "Roboto", Helvetica;
  --www-utilitac-com-semantic-link-underline-font-size: 18px;
  --www-utilitac-com-semantic-link-underline-font-style: normal;
  --www-utilitac-com-semantic-link-underline-font-weight: 400;
  --www-utilitac-com-semantic-link-underline-letter-spacing: 0px;
  --www-utilitac-com-semantic-link-underline-line-height: 24.200000762939453px;
  --www-utilitac-com-sora-semibold-title-font-family: "Sora", Helvetica;
  --www-utilitac-com-sora-semibold-title-font-size: 16px;
  --www-utilitac-com-sora-semibold-title-font-style: normal;
  --www-utilitac-com-sora-semibold-title-font-weight: 600;
  --www-utilitac-com-sora-semibold-title-letter-spacing: 0px;
  --www-utilitac-com-sora-semibold-title-line-height: 16px;
  --wwwutilitaccomalto: rgba(223, 223, 223, 1);
  --wwwutilitaccomblack: rgba(0, 0, 0, 1);
  --wwwutilitaccomwhite: rgba(255, 255, 255, 1);
  --wwwutilitaccomwhite-70: rgba(255, 255, 255, 0.7);
  --wwwutilitaccomwoodsmoke: rgba(17, 16, 19, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
